<mat-list role="list">
  <mat-list-item role="listitem">ID: {{task['id']}}</mat-list-item>
  <mat-list-item role="listitem">Title: {{task['title']}}</mat-list-item>
  <mat-list-item role="listitem">Description: {{task['description']}}</mat-list-item>
  <mat-list-item role="listitem">User Assigned: {{task['user_assigned_id']}}</mat-list-item>
  <mat-list-item role="listitem">User Created: {{task['user_created_id']}}</mat-list-item>
  <mat-list-item role="listitem">Client: {{task['client_id']}}</mat-list-item>
  <mat-list-item role="listitem">Invoice: {{task['invoice']}}</mat-list-item>
  <mat-list-item role="listitem">Deadline: {{task['deadline']}}</mat-list-item>
</mat-list>
<a routerLink="/tasks/add/{{ task['id'] }}" routerLinkActive="active"><button mat-button class="edit">{{ 'Редагувати' }}</button></a>
<a routerLink="/tasks/delete/{{ task['id'] }}" routerLinkActive="active"><button mat-button class="delete">{{ 'Видалити' }}</button></a>