<h1>
    Create new Sprint:
</h1>
<div class="form-group">
    <mat-form-field>
    <label for="title">Title</label>
    <input id="title" matInput class="form-control" name="title" [(ngModel)]="sprint.title" required minlength="4" #title="ngModel"/>
    </mat-form-field>
     <div class="form-control-feedback"
          *ngIf="title.errors && (title.dirty || title.touched)">
         <p *ngIf="title.errors.required">Title is required</p>
         <p *ngIf="title.errors.minlength">Title must have more than 4 symbols</p>
     </div>
  </div>
  <div class="form-group">
    <mat-form-field>
    <label for="description">Description</label>
        <textarea id="description" matInput type="text" class="form-control" name="description" [(ngModel)]="sprint.description" required #description="ngModel"></textarea>
    </mat-form-field>
      <div class="form-control-feedback"
           *ngIf="description.errors && (description.dirty || description.touched)">
          <p *ngIf="description.errors.required">Description is required</p>
      </div>
</div>
  <div class="form-group">
    <mat-form-field>
    <label for="status">Status</label>
            <mat-select id="status" [(ngModel)]="sprint.status" placeholder="Status" #status="ngModel">
                <mat-option *ngFor="let status of statuses" [value]="status.value">
                    {{ status.viewValue }}
                </mat-option>
            </mat-select>
    </mat-form-field>
      <div class="form-control-feedback"
           *ngIf="status.errors && (status.dirty || status.touched)">
          <p *ngIf="status.errors.required">Primary number is required</p>
      </div>
  </div>
 <div class="form-group">
     <mat-form-field>
         <mat-select [(ngModel)]="sprint.lead_assigned_id" placeholder="Check User" #lead_assigned_id="ngModel">
             <mat-option *ngFor="let lead of leads" [value]="lead.value">
                 {{ lead.viewValue }}
             </mat-option>
         </mat-select>
     </mat-form-field>
     <div class="form-control-feedback"
          *ngIf="lead_assigned_id.errors && (lead_assigned_id.dirty || lead_assigned_id.touched)">
         <p *ngIf="lead_assigned_id.errors.required">User assigned required</p>
     </div>
 </div>
  <div class="form-group">
    <input type="hidden" class="form-control" name="user_created_id" [(ngModel)]="sprint.user_created_id" #user_created_id="ngModel"/>
  </div>
  <div class="form-group">
      <mat-form-field>
          <label for="deadline">Deadline</label>
          <input id="deadline" name="deadline" matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="sprint.deadline">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-button (click)="addSprint()">Добавити</button>
  </div>