<div>
  <a routerLink="/role/create" routerLinkActive="active"><button mat-button class="edit">{{ 'Створити нову роль' }}</button></a>
<mat-table #table [dataSource]="roles">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let role"> {{role.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let role">{{role.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="guard_name">
    <mat-header-cell *matHeaderCellDef> Buttons </mat-header-cell>
    <mat-cell *matCellDef="let role">
      <a routerLink="/roles/add/{{ role['id'] }}" routerLinkActive="active"><button mat-button class="edit">{{ 'Редагувати' }}</button></a>
      <a routerLink="/roles/delete/{{ role['id'] }}" routerLinkActive="active"><button mat-button class="delete">{{ 'Видалити' }}</button></a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</div>